---
import SingleLayout from "$src/SingleLayout.astro";
import Group from "$src/components/Group.svelte";
import Pages from "$src/components/Pages.svelte";
import { H1 } from "$src/components/typography";

import { chars } from "$src/server/db";
import { parsePageParam } from "common";

const { with_stroke_grouped, without_stroke } = chars;

const params = new URL(Astro.request.url).searchParams;

const page = parsePageParam(params.get("p"), with_stroke_grouped.length);
if (page === false) {
  return Astro.redirect("/initials");
}
const with_stroke_this_page = with_stroke_grouped[page - 1];
---

<SingleLayout title="首字索引 - kemdict">
  <H1>首字筆畫索引</H1>
  <div class="prose mb-4">
    {
      page === 1 && (
        <Group
          title="其他"
          elements={without_stroke}
          template="/search?q=$1&m=prefix"
        />
      )
    }
    {
      with_stroke_this_page.map(([count, elements]) => (
        <>
          <Group
            title={`${count} 畫`}
            elements={elements}
            template="/search?q=$1&m=prefix"
          />
        </>
      ))
    }
  </div>

  <Pages
    url={Astro.url}
    baseURL={Astro.site}
    activePage={page}
    pageCount={with_stroke_grouped.length}
  />
</SingleLayout>
