---
import SingleLayout from "$src/SingleLayout.astro";
import Loading from "$src/components/Loading.astro";
import RadicalChars from "./_RadicalChars.astro";
import { site } from "common";
const { radical } = Astro.params as { radical: string };
---

<SingleLayout title={`部首為「${radical}」的字 - ${site.title}`}>
  <Fragment slot="head">
    <meta
      property="og:image"
      content={`https://kemdict.com/og-image?title=部首索引 — ${radical}`}
    />
  </Fragment>
  <div class="prose">
    <a href="/radicals">← 回到部首索引</a>
    <h1 class="mt-2">
      部首為「<a href={`/word/${radical}`}>{radical}</a>」的字
    </h1>
    <RadicalChars radical={radical} server:defer>
      <Loading slot="fallback" />
    </RadicalChars>
  </div>
</SingleLayout>
