---
import SingleLayout from "$src/SingleLayout.astro";
import Group from "$src/components/Group.svelte";

import { getCharsByRadical } from "$src/server/db";
import { format } from "common";
import { groupByProp } from "common";

const { radical } = Astro.params;
const entries = getCharsByRadical(radical);
---

<SingleLayout title={`部首為「${radical}」的字 - kemdict`}>
  <div class="prose">
    <a href="/radicals">← 回到部首索引</a>
    <h1 class="mt-2">
      部首為「<a href={`/word/${radical}`}>{radical}</a>」的字
    </h1>
    {
      groupByProp(entries, "non_radical_stroke_count").map(
        ([count, elements]) => (
          <Group
            title={`${count} 畫`}
            elements={elements}
            template="/search?q=$1&s=prefix"
          />
        )
      )
    }
  </div>
</SingleLayout>
