---
import { uniq } from "lodash-es";
import type { Dict, Heteronym } from "$src/common";
import { api } from "$src/common";

const { title } = Astro.params;
const heteronyms = await api(`/het/${title}`);
const titles = uniq(heteronyms.map((het: Heteronym) => het.title));

let backlinks;
{
  let promises = titles.map((title) => api(`/back/${title}`));
  backlinks = await Promise.all(promises);
  backlinks = backlinks.flat(1).sort();
}

import SplitLayout from "$src/SplitLayout.astro";
import SingleLayout from "$src/SingleLayout.astro";

import TOC from "$src/components/TOC.astro";
import Elsewhere from "$src/components/Elsewhere.astro";
import WordList from "$src/components/WordList.astro";

import Word from "./Word.svelte";

import { dictsToObj, dicts, groupByProp } from "$src/common";

const dictsObj = dictsToObj(dicts);
const groupedHets: [Dict, Heteronym[]][] = groupByProp(heteronyms, "from").map(
  ([id, hets]: [string, Heteronym[]]) => {
    return [dictsObj[id], hets];
  }
);
const presentDicts = groupedHets.map((group) => group[0]);
---

{
  heteronyms.length > 0 ? (
    <SplitLayout
      title={`「${title}」 - kemdict`}
      leftFirst={false}
      initialInput={title}
    >
      <Fragment slot="head">
        <meta name="description" content="「{title}」的定義" />
      </Fragment>
      <div slot="left">
        <div class="max-sm:hidden">
          <TOC presentDicts={presentDicts} />
        </div>
        <Elsewhere term={title} />
        {backlinks.length > 0 && (
          <div class="prose">
            <h2>有提到「{title}」的條目</h2>
            <WordList words={backlinks} />
          </div>
        )}
      </div>
      <Fragment slot="right">
        <div class="sm:hidden">
          <TOC term={title} presentDicts={presentDicts} />
        </div>
        <Word groupedHets={groupedHets} title={title} />
      </Fragment>
    </SplitLayout>
  ) : (
    <SingleLayout
      title={`找不到「${title}」 - Kemdict 國語整合典`}
      class="prose"
    >
      <h1>{title}</h1>
      <p>找不到這個詞。</p>
      <hr />
      <Elsewhere term={title} />
    </SingleLayout>
  )
}
