---
export const prerender = false;

import { DB } from "$src/server/db";

import SingleLayout from "$src/SingleLayout.astro";
import WordList from "$src/components/WordList.astro";
import SearchBar from "$src/components/SearchBar.svelte";
import DarkModeToggle from "$src/components/DarkModeToggle.svelte";
import Out from "$src/components/Out.astro";
const title = "Kemdict 國語整合典";
const sitename = "Kemdict 國語整合典";
const description =
  "《Kemdict 國語整合典》整合多部辭典，提供一次搜尋的功能。同時包含另一個我拿來記錄教育部沒有收錄的詞的字典。";

const words = await DB.getDictTitles("kisaragi_dict", 15);
---

<SingleLayout class="lg:pb-16 lg:pt-32" title={title} wantHeader={false}>
  <Fragment slot="head">
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://kemdict.com/og-image" />
    <meta property="og:sitename" content={sitename} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebSite",
        url: "https://kemdict.com/",
        potentialAction: {
          "@type": "SearchAction",
          target: {
            "@type": "EntryPoint",
            urlTemplate: "https://kemdict.com/search?q={q}",
          },
          "query-input": "required name=q",
        },
      })}
    ></script>
  </Fragment>
  <div>
    <div class="flex justify-between">
      <h1 class="mb-2">
        <div class="text-6xl font-bold">Kemdict</div>
        <div class="text-2xl font-bold">國語整合典 (β)</div>
      </h1>
      <div>
        <DarkModeToggle client:load />
      </div>
    </div>
    <SearchBar highlightBtn={true} client:load />
  </div>
  <div class="prose">
    <div class="md:flex">
      <div class="w-1/2">
        <h3>前言</h3>
        <ul class="ml-1 list-none p-0">
          <li>
            <p><a href="about">關於</a></p>
          </li>
          <li>
            <p><a href="changelog">版本紀錄</a></p>
          </li>
          <li>
            <p><a href="thanks">致謝與授權</a></p>
          </li>
        </ul>
      </div>
      <div>
        <h3>附錄</h3>
        <ul class="ml-1 list-none p-0">
          <li>
            <p><a href="pojtl">台語羅馬字簡介</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="ml-1"></div>
    <h3>最近新增的詞</h3>
    <WordList words={words} />
    <h3>索引</h3>
    <ul class="ml-1 list-none p-0">
      <li>
        <p><a href="initials">首字索引</a></p>
      </li>
      <li>
        <p><a href="radicals">部首索引</a></p>
      </li>
    </ul>
    <h3>收錄字典</h3>
    <ul class="md:two ml-1 list-none p-0">
      <li>
        <p><a href="dict-kisaragi">如月的現代台灣華語補足典</a></p>
      </li>
      <li>
        <p><a href="dict-itaigi">iTaigi 華台對照典</a></p>
      </li>
      <li>
        <p>
          <Out href="https://mhi.moe.edu.tw/infoList.jsp?ID=2&ID2=1705">
            台灣白話基礎語句
          </Out>
        </p>
      </li>
      <li>
        <p><a href="dict-taijittoasutian">台日大辭典台語譯本 (1932)</a></p>
      </li>
      <li>
        <p><a href="dict-moe">教育部《重編國語辭典修訂本》</a></p>
      </li>
      <li>
        <p><a href="dict-moe">教育部《國語辭典簡編本》</a></p>
      </li>
      <li>
        <p><a href="dict-moe">教育部《臺灣閩南語常用詞辭典》</a></p>
      </li>
      <li>
        <p><a href="dict-moe">教育部《臺灣客家語常用詞辭典》</a></p>
      </li>
      <li>
        <p><a href="dict-moe">教育部《成語典》</a></p>
      </li>
    </ul>
  </div>
</SingleLayout>
