---
export const prerender = false;

import { DB } from "$src/server/db";

import SingleLayout from "$src/SingleLayout.astro";
import WordList from "$src/components/WordList.svelte";
import SearchBar from "$src/components/SearchBar.svelte";
import DarkModeToggle from "$src/components/DarkModeToggle.svelte";
const title = "Kemdict 國語整合典";
const sitename = "Kemdict 國語整合典";
const description =
  "《Kemdict 國語整合典》整合多部辭典，提供一次搜尋的功能。同時包含另一個我拿來記錄教育部沒有收錄的詞的字典。";

const newWords = await DB.getNewWords(15);
---

<SingleLayout
  class="lg:pb-16 lg:pt-16"
  title={title}
  wantHeader={false}
  wantFooter={true}
>
  <Fragment slot="head">
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://kemdict.com/og-image" />
    <meta property="og:sitename" content={sitename} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebSite",
        url: "https://kemdict.com/",
        potentialAction: {
          "@type": "SearchAction",
          target: {
            "@type": "EntryPoint",
            urlTemplate: "https://kemdict.com/search?q={q}",
          },
          "query-input": "required name=q",
        },
      })}
    />
  </Fragment>
  <div>
    <div class="mb-8 mt-12 flex justify-between">
      <h1 class="mb-2">
        <div class="text-6xl font-bold">Kemdict</div>
        <div class="text-2xl font-bold">國語整合典</div>
      </h1>
      <div>
        <DarkModeToggle client:load />
      </div>
    </div>
    <div class="bg-surface-300 dark:bg-surface-800 w-full rounded px-4 py-4">
      <SearchBar
        highlightBtn={true}
        redirectOnSingleResult={true}
        client:load
      />
    </div>
  </div>
  <div class="prose">
    <div>
      <h3><a class="font-bold" href="/newwords">最近新增的詞</a></h3>
      <WordList words={newWords} etc="/newwords" />
    </div>
  </div>
  <div class="prose">
    <div class="md:flex">
      <div class="w-1/2">
        <h3>前言</h3>
        <ul class="ml-1 list-none p-0">
          <li>
            <p><a href="about">關於</a></p>
          </li>
          <li>
            <p><a href="changelog">版本紀錄</a></p>
          </li>
          <li>
            <p><a href="thanks">致謝與授權</a></p>
          </li>
          <li>
            <p>
              <a href="/finances">財務</a>
            </p>
          </li>
        </ul>
      </div>
      <div>
        <h3>附錄</h3>
        <ul class="ml-1 list-none p-0">
          <li>
            <p><a href="pojtl">台語羅馬字簡介</a></p>
          </li>
          <li>
            <p><a href="pojtl#sandhi">台語變調參考</a></p>
          </li>
          <li>
            <p><a href="resources">相關資源</a></p>
          </li>
          <li>
            <p><a href="usage">使用說明</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="ml-1"></div>
    <div>
      <h3>索引</h3>
      <ul class="ml-1 list-none p-0">
        <li>
          <p><a href="initials">首字索引</a></p>
        </li>
        <li>
          <p><a href="radicals">部首索引</a></p>
        </li>
        <li>
          <p><a href="dicts">收錄字典</a></p>
        </li>
      </ul>
    </div>
  </div>
</SingleLayout>
