---
export interface Props {
  title: string;
  initialInput?: string;
  initialMatchSelection?: string;
  wantHeader?: boolean;
  wantFooter?: boolean;
  class?: string;
  submitSuffix?: string;
}
const {
  title,
  initialInput,
  initialMatchSelection,
  wantHeader = true,
  wantFooter = true,
  submitSuffix,
} = Astro.props;
const klass = Astro.props.class;

import BaseLayout from "$src/BaseLayout.astro";
import Header from "$src/components/Header.astro";
---

<BaseLayout title={title} wantFooter={wantFooter}>
  <Fragment slot="head"><slot name="head" /></Fragment>
  {
    wantHeader && (
      <Header
        search={true}
        initialInput={initialInput}
        initialMatchSelection={initialMatchSelection}
        submitSuffix={submitSuffix}
      />
    )
  }
  <div class:list={[klass]}>
    <slot />
  </div>
</BaseLayout>
