---
const { dictId } = Astro.params;
import { dictIdToDict, langIdName } from "common";
import { marked } from "marked";
marked.use({
  mangle: false,
  headerIds: false,
});

const dict = dictIdToDict(dictId);

const title = `收錄字典 - ${dict.name} | Kemdict`;

import BaseLayout from "$src/BaseLayout.astro";
import Header from "$src/components/Header.astro";

import DictList from "./DictList.svelte";
---

<BaseLayout title={title}>
  <!-- <Fragment slot="head"></Fragment> -->
  <Header search={true} />
  <div class="flex space-x-4">
    <div class="">
      <DictList client:load current={dictId} />
    </div>
    <div class="prose flex-1">
      <div class="mb-2 font-bold">收錄字典介紹 -</div>
      <h1>{dict.name}</h1>
      <div set:html={marked.parse(dict.meta.desc_long)} />
      <table>
        <tr>
          <th class="w-16">名稱</th>
          <td>{dict.name}</td>
        </tr>
        {
          dict.meta.extra &&
            Object.entries(dict.meta.extra).map(([k, v]) => (
              <tr>
                <th>{k}</th>
                <td>{v}</td>
              </tr>
            ))
        }
        <tr>
          <th>作者</th>
          <td>{dict.meta.author}</td>
        </tr>
        <tr>
          <th>年份</th>
          <td>{dict.meta.year || "-"}</td>
        </tr>
        <tr>
          <th>語言</th>
          <td>{langIdName(dict.lang)}</td>
        </tr>
        <tr>
          <th>授權</th>
          <td><a href={dict.meta.license.url}>{dict.meta.license.name}</a></td>
        </tr>
        <tr>
          <th>來源</th>
          <td><a href={dict.meta.source}>{dict.meta.source}</a></td>
        </tr>
        {
          dict.meta.original && (
            <tr>
              <th>原冊</th>
              <td>
                <a href={dict.meta.original}>{dict.meta.original}</a>
              </td>
            </tr>
          )
        }
      </table>
    </div>
  </div>
</BaseLayout>
