---
import { langs, groupByProp } from "$src/common";
import type { Dict } from "$src/common";
export interface Props {
  presentDicts: Array<Dict>;
  term?: string;
}
const {
  // Array of dict objects
  presentDicts = [],
  term,
} = Astro.props;
---

{
  presentDicts.length > 1 && (
    <div class="mb-8">
      {term && <h1 class="mb-2 mt-0 text-2xl font-bold">{term}</h1>}
      <div class="border border-gray-200 px-2 pb-2 dark:border-stone-700">
        <h2 class="text-center font-bold">目錄</h2>
        <ol class="p-0">
          {(groupByProp(presentDicts, "lang") as [string, Dict[]][]).map(
            ([langId, dicts], i) => (
              <li>
                <span>{i + 1}. </span>
                <a class="link" href={`#${langId}`}>
                  {langs[langId]}
                </a>
                <ol class="pl-0">
                  {dicts.map((dict, j) => (
                    <li>
                      <span>
                        {i + 1}.{j + 1}.
                      </span>
                      <a class="link" href={`#${dict.id}`}>
                        {dict.name}
                      </a>
                    </li>
                  ))}
                </ol>
              </li>
            )
          )}
        </ol>
      </div>
    </div>
  )
}
